<h1>
  Order Details
</h1>

<table class="table">
  <thead>
    <th>
      Order Number
    </th>
    <th>
      Order Date
    </th>
    <th>
      Amount
    </th>
    <th>Edit</th>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>

        <a [routerLink]="[order.orderNumber]">{{order.orderNumber}}</a>
      </td>
      <td>
        {{order.orderDate | date}}
      </td>
      <td>
        {{order.amount}}
      </td>
      <td>
        <button md-raised-button (click)="openPupUp(order)" color="primary">Edit</button>
      </td>
    </tr>
  </tbody>
</table>

<router-outlet></router-outlet>