<div class="container">
  <div class="card card-container">
    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
    <img id="profile-img" class="profile-img-card" src="../assets/images/profile.jpg" />
    <p id="profile-name" class="profile-name-card"></p>
    <form [formGroup]="loginForm" (submit)="login(loginForm.value)" novalidate>
      <div class="form-group input-group">
          <span class="input-group-addon">
            @
          </span>
        <input type="text" class="form-control" required formControlName="userName" placeholder="Enter Username">
      </div>
      <div class="form-group input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-lock">
            </i>
          </span>
        <input type="password" class="form-control" required formControlName="password" placeholder="Enter Password here">
        {{loginForm.get('password').errors | json}}
      </div>
      <div class="form-group">
        <button pButton  type="submit" [disabled]="loginForm.invalid" class="btn btn-primary" label="Submit"></button>
      </div>
    </form>
  </div>
</div>

