<div class="container">
  
  <div class="col-md-6">
    <form [formGroup]="loginForm" (submit)="login(loginForm.value)">
      <div class="form-group">
        <label>UserName:</label>
        <input type="text" class="form-control" formControlName="userName" placeholder="Enter Username">
      </div>
      <div class="form-group">
        <label>Password:</label>
        <input type="password" class="form-control" formControlName="password" placeholder="Enter Password here">
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit">
      </div>
    </form>

    
  </div>
</div>