<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">FOOdC@rT</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li *ngIf="(_loginService.isUserLoggedIn()  | async) === false"><a routerLink="/login" routerLinkActive="active">Login</a></li>

      </ul>
      <form *ngIf="_loginService.isUserLoggedIn() | async" class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="_loginService.isUserLoggedIn() | async" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><strong> Welcome Omi !! </strong> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li *ngIf="_loginService.isUserLoggedIn() | async"><a class="pointer" (click)="Logout()"><span>Logout</span></a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<div class="row">


  <div class="row profile">
    <div *ngIf="_loginService.isUserLoggedIn() | async" class="col-md-3">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <img src="../assets/images/profile.jpg" class="img-responsive" alt="">
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            Omi P@til
          </div>
          <div class="profile-usertitle-job">
            Manager
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">
          <button type="button" class="btn btn-success btn-sm">Follow</button>
          <button type="button" class="btn btn-danger btn-sm">Message</button>
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
              <a href="#">
							<i class="glyphicon glyphicon-home"></i>
							Overview </a>
            </li>
            <li>
              <a href="#">
							<i class="glyphicon glyphicon-user"></i>
							Account Settings </a>
            </li>
            <li>
              <a [routerLink]="['/todo']" routerLinkActive="active">
							<i class="glyphicon glyphicon-ok"></i>
							Add Customers </a>
            </li>
            <li>
              <a href="#" target="_blank">
							<i class="glyphicon glyphicon-ok"></i>
							View Customers </a>
            </li>
            <li>
              <a [routerLink]="['/customer',1,'order']" routerLinkActive="active">
							<i class="glyphicon glyphicon-ok"></i>
							View Orders </a>
            </li>
            <li>
              <a href="#">
							<i class="glyphicon glyphicon-flag"></i>
							Help </a>
            </li>

            <li *ngIf="_loginService.isUserLoggedIn() | async">
              <a class="pointer" (click)="Logout()">
                	<i class="glyphicon glyphicon-home"></i> Logout
              </a>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>
    <div [ngClass]="{'col-md-8': _loginService.isUserLoggedIn() | async}">
      <router-outlet></router-outlet>
       <!-- <div>
      <h2>Job Application for Heroes</h2>
      <app-question [questions]="questions"></app-question>
    </div> -->
    </div>
  </div>
</div>