<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div>
    <div class='navbar navbar-inverse'>
      <div class='navbar-inner nav-collapse' style="height: auto;">
        <ul class="nav">
          <li class="active">
            <a routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li>
            <a routerLink="/login" routerLinkActive="active">Login</a>
          </li>

        </ul>
      </div>
    </div>
    <div id='content' class='row-fluid'>
      <div class='span2 sidebar'>
        <h3>Food Lovers</h3>
        <ul class="nav nav-tabs nav-stacked">
          <li><a href='#'>Pizza Lovwers!!</a></li>
          <li><a href='#'>Pasta Lovers!!</a></li>
          <li><a href='#'>Biryaneez !!</a></li>
        </ul>
      </div>
      <div class='span8 main'>
        <router-outlet></router-outlet>
      </div>
      <div class='span2 sidebar'>
        <h3>News Feed</h3>
        <ul class="nav nav-tabs nav-stacked">
          <li><a href='#'>Get 50% Off on Biryani</a></li>
          <li><a href='#'>Buy one get one in our Pizza section</a></li>
          <li><a href='#'>Free Delivery above 200 RS</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>