<div class="row">
  <form [formGroup]="customerForm">

    <div class="panel panel-primary">
      <div class="panel-heading">Add New Customer</div>
      <div class="panel-body">

        <div class="form-group col-md-4">
          <label>First Name </label>
          <input type="text" formControlName="firstName">
        </div>
        <div class="form-group col-md-4">
          <label>Last Name </label>
          <input type="text" formControlName="lastName">
        </div>
        <div class="form-group col-md-4">
          <label>Email </label>
          <input type="email" formControlName="email">
        </div>
        <div class="form-group  col-md-4">
          <label>Mobile </label>
          <input type="text" formControlName="mobile">
        </div>
        <div class="form-group">
          <label>DOB: </label>
          <input type="date" formControlName="dob">
        </div>

      </div>
      
      <div class="panel panel-primary">
        <div class="panel-heading">
          Address
          <button class="btn btn-success pull-right" (click)="addAddress()">+</button>
        </div>

        <div class="panel-body">
          <div formArrayName="address">
            <div *ngFor="let addr of customerForm.controls.address.controls; let i=index">
              <div class="panel panel-primary">
                <div class="panel-heading"> Address {{i+1}}
                  <button *ngIf="i > 0" class="btn btn-success  pull-right" (click)="removeAddress(i)">-</button>
                </div>
                <div class="panel-body" [formGroupName]="i">
                  <div class="form-group  col-md-4">
                    <label>Address Line1 </label>
                    <input type="text" formControlName="addressLine1">
                  </div>
                  <div class="form-group  col-md-4">
                    <label>Address Line2 </label>
                    <input type="text" formControlName="addressLine2">
                  </div>
                  <div class="form-group  col-md-4">
                    <label>City </label>
                    <input type="text" formControlName="city">
                  </div>
                  <div class="form-group  col-md-4">
                    <label>Pincode </label>
                    <input type="number" formControlName="pincode">
                  </div>
                  <div class="form-group ">
                    <label>State </label>
                    <input type="text" formControlName="state">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel-footer">
        <div class="form-group">
          <input type="submit" class="btn btn-success" value="submit">
        </div>
      </div>

    </div>

  </form>
</div>

<!--{{customerForm.value | json}} {{customerForm.controls.address.controls}}-->